.page {
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-color: var(--main-heading-color);
  overflow: auto;
  appearance: none;
}

.header {
position: relative;
max-height: 100vw;
min-height: 668px;
min-width: 375px;
 background-image: var(--bg-image);
/* margin-left: 10px;
margin-right: 10px; */

display: grid;
  grid-template-rows: 35% 1fr 35%;
  align-items: center;
/* grid-template-rows: 1fr min-content 1fr;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-columns: auto;
   align-items: center; */
}

@media (width >= 768px) {
  .header {
  min-height: 1024px;
  /* margin-left: 20px;
   margin-right: 20px; */
    grid-template-rows: 45% 1fr 45%;
  }
}

@media (width >= 1024px) {
  .header {
    /* min-height: 768px; */
  /* margin-left: 20px;
   margin-right: 20px; */
   /* margin-bottom: 114px; */
    grid-template-rows: 2fr 3fr 2fr;
  }
}

.decorated-zone {
  position: relative;
  min-block-size: 100vb;
  /* padding-top: 10px; */

}

.decorated-zone::before,
.decorated-zone::after {
  content: "";
  position: absolute;
  display: inline-block;
  block-size: 25px;
  inline-size: 25px;
  /* margin-top: 10px; */
  /* margin-right: 20px; */

}

.decorated-zone::before {
  border-inline-start: 1px solid var(--nav-color);
  border-block-end: 1px solid var(--nav-color);
  inset-inline-start: var(--main-gap);
  inset-block-end: var(--main-gap);
}

.decorated-zone::after {
  border-inline-end: 1px solid var(--nav-color);
  border-block-start: 1px solid var(--nav-color);
  inset-inline-end: var(--main-gap);
  inset-block-start: var(--main-gap);
}

.header__decorated-element {
  display: flex;
  align-items: start;
  position: absolute;
  inset-inline-end: 20px;
  inset-block-start: 20px;
  font-family: var(--main-font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: var(--nav-color);
 
}

.header__decorated-element::after {
  content: "";
  display: inline-block;
  background-color: var(--nav-color);
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--nav-color);
  width: 9px;
  height: 9px;
  margin-left: 10px;
}

.header__theme-menu {
  /* display: grid;
	grid-row: 1; */
  position: relative;
/* padding-top: 75px; */
   
  
  

}

.header__theme-menu-list {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
padding-right: 20px;
gap: 10px;
   
}

@media (width >= 768px) {
	.header__theme-menu-list {
		padding-block-end: 57px;
		justify-content: center;
		align-items: flex-end;
       gap: 10px;
	}
}

@media (width >= 1024px) {
	.header__theme-menu-list {
		flex-direction: row;
       gap: 10px;
	}
}

.header__theme-menu-item {
  color: var(--main-color-title);
}

.header__theme-menu-button {
  text-transform: lowercase;
  line-height: 100%;
  cursor: pointer;
  background-color: transparent;
  border: none;
  font-family: var(--main-font-family);
  font-weight: 400;
  text-align: center;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--button-hover);
}

.header__theme-menu-button:focus {
 border-block-end: 1px solid var(--button-focus);
  outline: none;
}

.header__theme-menu-button:focus-visible {
  outline: none;
}

.header__theme-menu-button_active {
  border: 1px solid var(--button-active);
  pointer-events: none;
}

@media (width >= 1024px) {
  .header {
    min-block-size: 640px;
  }
}

@supports (block-size: 1000vb) {
  .header {
    block-size: 100vb;
  }
}

.focus {
position: relative;
  align-items: center;
  font-family: var(--main-font-family);
  font-weight: 700;
  /* font-size: 157px; */
  line-height: 83%;
  color: rgba(219, 0, 255, 1);
  text-shadow: 4px 4px 0 var(--section-heading-color);
  /* inset-inline-start: calc(-1 * var(--main-gap)); */
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
}

@media (width >= 768px) {
	.focus {
		font-size: var(--logo-size);
		margin-inline-start: -20px;
	}
}

@media (width >= 1024px) {
  .focus {
    font-size: 157px;
    /* padding-top: 273px; */
    margin-left: 20px;
    margin-right: 20px;
  }
}


.question {
 width: 355px;
  /* height: 71px; */
  font-family: var(--main-font-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
  letter-spacing: 0%;
  opacity: 1;
  background-color: var(--section-heading-color);
   justify-self: center;
   margin-top: 55px;
margin-bottom: 68px; /*добавила*/
}




@media (width >= 1024px) {
  .question {
     width: 491px;
   margin-top: 114px;
   justify-self: end;

    margin-right: 20px;
  }
}


.content {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
  padding-top: 40px;
  gap: 30px;
}


@media (width >= 1024px) {
  .content {
   margin-left: 20px;
  margin-right: 20px;
  gap: 50px;
  }
}


.section {
  display: grid;
  gap: 20px;
  font-size: var(--main-font-family);
  line-height: 23.4px;
}

.content-section {
  display: flex;
  flex-direction: column;
  
}

.content-section__title {
color: var(--main-color-title);
font-weight: 700;
font-family: var(--main-font-family);
font-size: 18px;
line-height: 23.4px;
}

@media (width >= 768px) {
  .content-section {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 20px;
    font-size: 18px;
  }
}

@media (width >= 1024px) {
  .content-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    font-size: 18px;
  }
}

.text-blocks {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@media (width >= 768px) {
  .text-blocks {
    grid-column: span 2;
  }
}

@media (width >= 1024px) {
  .text-blocks {
    grid-template-columns: repeat(3, 1fr);
    font-size: 18px;
  }
}

.block {
  display: flex;
  flex-direction: column;
  /* gap: 10px; */
}

.block__title,
.block__subtitle {
background-color: var(--section-heading-color);
color: var(--main-bg-color);
font-size: 18px;
font-family: var(--main-font-family);
line-height: 23.4px;
 margin-bottom: 10px;
}

.block__title {
  font-weight: 700;
 
}

.block__subtitle {
  margin-top: 10px;
  font-weight: 400; 
 
}

.block__content {
  color: var(--main-text-color);
  font-family: var(--main-font-family); 

  /* margin-bottom: 20px; */
}

.block-link {
text-decoration: none;
text-shadow: 2px 2px 0 var(--section-heading-color);
}

.block-link:hover {
  outline: 1px solid var(--button-hover);
}

.block-link:focus {
 border-block-end: 1px solid var(--button-focus);
  outline: none;
}

.block-link:focus-visible {
  border: 1px solid var(--button-active);
  pointer-events: none;
  outline: none;
}

.content-section__middle {
  grid-template-columns: 1fr;
  /* margin-bottom: 50px; */
}

@media (width >= 1024px) {
  .content-section__middle {
  grid-template-columns: 1fr 1fr 1fr;
}
}

.content-section__middle .text-blocks {
  display: grid;
  grid-row: 2;
  grid-column: span 3;
}

.advice {
  margin-top: 10px;
  margin-bottom: 20px;
}

.block-bilds {
  /* margin-top: 20px; */
  gap: 20px;
}

.bilds-container {
  margin-top: 20px;
  display: flex;
 flex-direction: column;
  gap: 20px;
}

@media (width >= 768px) {
.bilds-container {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
}

@media (width >= 1024px) {
.bilds-container {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
}

.column-bilds {
  grid-column: span 2;
}

.row-bilds {
  grid-row: span 2;
}

.bild {
  display: block;
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  object-position: center;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-block-start: 40px;
	/* padding: 10px; */
}

@media (width >= 1024px) {
	.footer {
		margin-block-start: 60px;
		padding: 20px;
	}
}

.footer .footer__focus {
  text-shadow: 2px 2px 0 #ff0070;
  color: rgba(219, 0, 255, 1);
  position: relative;
  font-family: var(--main-font-family);
  font-weight: 700;
  line-height: 83%;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
}

@media (width >= 1024px) {
	.footer {
		font-size: 157px;
	}
}