.page {
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-color: var(--main-heading-color);
  overflow: auto;
  appearance: none;
  background-image: var(--bg-image);
}

.header {
  height: 100vb;
  width: 100%;
  min-height: 668px;
  min-width: 375px;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  padding: var(--main-gap);
  align-items: center;
}

@media (width >=1024px) {
  .header {
    justify-self: center;
    align-self: center;
  }
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before,
.decorated-zone::after {
  content: "";
  position: absolute;
  display: inline-block;
  block-size: 25px;
  inline-size: 25px;
}

.decorated-zone::before {
  border-inline-start: 1px solid var(--nav-color);
  border-block-end: 1px solid var(--nav-color);
  inset-inline-start: var(--main-gap);
  inset-block-end: var(--main-gap);
}

.decorated-zone::after {
  border-inline-end: 1px solid var(--nav-color);
  border-block-start: 1px solid var(--nav-color);
  inset-inline-end: var(--main-gap);
  inset-block-start: var(--main-gap);
}

.header__decorated-element {
  position: absolute;
  inset-inline-end: 20px;
  inset-block-start: 10px;
  font-family: var(--main-font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: var(--nav-color);

  @media (width >=768px) {
    inset-inline-end: 30px;
    inset-block-start: 20px;
  }
}

.header__decorated-element::after {
  content: "";
  display: inline-block;
  background-color: var(--nav-color);
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--nav-color);
  width: 9px;
  height: 9px;
  margin-left: 10px;
}

.header__theme-menu {
  position: relative;
  justify-self: end;
}

@media (width >=1024px) {
  .header__theme-menu {
    justify-self: center;
    align-self: flex-start;
  }
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@media (width >=1024px) {
  .header__theme-menu-list {
    flex-direction: row;
  }
}

.header__theme-menu-item {
  color: var(--section-heading-color);
}

.header__theme-menu-button {
  text-transform: lowercase;
  line-height: 100%;
  cursor: pointer;
  background-color: transparent;
  border: none;
  font-family: var(--main-font-family);
  font-weight: 400;
  text-align: center;
  border: 1px solid transparent;
  padding: 2px 13px;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--button-hover);
}

.header__theme-menu-button:focus {
  border-block-end: 1px solid var(--button-focus);
  outline: none;
}

.header__theme-menu-button:focus-visible {
  outline: none;
}

.header__theme-menu-button_active {
  border: 1px solid var(--button-active);
  pointer-events: none;
}

.focus {
  position: relative;
  align-items: center;
  font-family: var(--main-font-family);
  font-weight: 700;
  line-height: 83%;
  color: var(--header-logo-color);
  text-shadow: 4px 4px 0 var(--main-color-title);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
}

@media (width >=768px) {
  .focus {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    margin-left: -20px;
  }
}

@media (width >=1024px) {
  .focus {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}

.question {
  max-width: 355px;
  height: fit-content;
  width: 100%;
  font-family: var(--main-font-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
  opacity: 1;
  background-color: var(--main-color-title);
  justify-self: center;
  color: var(--main-heading-color);
}

@media (width >=768px) {
  .question {
    max-width: 364px;
    justify-self: flex-end;
  }
}

@media (width >=1024px) {
  .question {
    max-width: 491px;
  }
}

.content {
  display: grid;
  padding: var(--main-gap);
}

@media (width >=768px) {
  .content {
    padding-top: 40px;
  }
}

@media (width >=1024px) {
  .content {
    padding-top: 40px;
    gap: 80px;
  }
}

.section {
  display: grid;
  gap: 25px;
  font-size: var(--main-font-family);
  line-height: 23.4px;
  margin-bottom: 40px;
}

@media (width >=768px) {
  .section {
    gap: 20px;
    margin-bottom: 60px;
  }
}

@media (width >=1024px) {
  .section {
    margin-bottom: 0;
  }
}

.content-section__why {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}

@media (width >=768px) {
  .content-section__why {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    font-size: 18px;
    padding-top: 20px;
  }
}

.content-section__title {
  color: var(--section-heading-color);
  font-weight: 700;
  font-family: var(--main-font-family);
  font-size: 18px;
  line-height: 23.4px;
}

.text-blocks {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@media (width >=768px) {
  .text-blocks {
    display: flex;
    flex-direction: column;
    gap: 20px;
    grid-column: span 2;
  }
}

@media (width >=1024px) {
  .text-blocks {
    grid-template-columns: repeat(3, 1fr);
    font-size: 18px;
  }
}

.block {
  display: flex;
  flex-direction: column;
}

.content-section__title__bilds {
  background-color: var(--main-color-title);
  font-weight: 700;
  font-family: var(--main-font-family);
  font-size: 18px;
  line-height: 23.4px;
  margin-top: -12px;
}

@media (width >=1024px) {
  .content-section__title__bilds {
    margin-top: -20px;
  }
}

.block__title {
  background-color: var(--main-color-title);
  font-size: 18px;
  font-family: var(--main-font-family);
  line-height: 23.4px;
  margin-bottom: 9.9px;
  color: var(--main-heading-color);
  font-weight: 700;
}

@media (width >=1024px) {
  .block__title {
    margin-bottom: 10px;
  }
}

.subtitle {
  font-weight: 400;
}

@media (width >=1024px) {
  .subtitle {
    margin-bottom: 10px;
    font-weight: 400;
  }
}

.block__title__advice {
  background-color: var(--main-color-title);
  font-size: 18px;
  font-family: var(--main-font-family);
  line-height: 23.4px;
  margin-bottom: 10px;
  color: var(--main-heading-color);
  font-weight: 700;
  margin-bottom: 20px;
}

@media (width >=1024px) {
  .block__title__advice {
    margin-bottom: 20px;
  }
}

.block__content {
  color: var(--main-text-color);
  font-family: var(--main-font-family);
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 10px;
  line-height: 23.4px;
}

@media (width >=1024px) {
  .block__content {
    margin-bottom: 0;
  }
}

.block-link {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--main-color-title);
}

.block-link:hover {
  border-bottom: 1px solid var(--button-hover);
}

.block-link:focus {
  border-block-end: 1px solid var(--button-focus);
  outline: none;
}

.block-link:focus-visible {
  border: 1px solid var(--button-active);
  pointer-events: none;
  outline: none;
}

.content-section__middle {
  grid-template-columns: 1fr;
}

@media (width >=768px) {
  .content-section__middle {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.content-section__middle .text-blocks {
  display: grid;
  grid-row: 2;
  grid-column: span 3;
}

.content-section__advice {
  gap: 20px;
}

@media (width >=768px) {
  .content-section__advice {
    grid-template-columns: 1fr min-content 1.8fr;
    /* padding-bottom: 80px; */
  }
}

@media (width >=1024px) {
  .content-section__advice {
    grid-template-columns: 1fr 20px 1.9fr;
  }
}

.advice {
  margin-bottom: 20px;
}

@media (width >=768px) {
  .advice {
    margin-bottom: 10px;
  }
}

@media (width >=1024px) {
  .advice {
    margin-bottom: 20px;
  }
}

.block-bilds {
  gap: 20px;
}

.bilds-container {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 40px;
}

@media (width >=768px) {
  .bilds-container {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-bottom: 0;
  }
}

.column-bilds {
  grid-column: span 2;
}

.row-bilds {
  grid-row: span 2;
}

.bild {
  display: block;
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  object-position: center;
}

.footer {
  height: 100vb;
  min-height: 668px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (width >=768px) {
  .footer {
    margin-block-start: 40px;
    padding: var(--main-gap);
  }
}

.footer .footer__focus {
  text-shadow: 2px 2px 0 #ff0070;
  color: rgba(219, 0, 255, 1);
  position: relative;
  font-family: var(--main-font-family);
  font-weight: 700;
  line-height: 83%;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
}

@media (width >=1024px) {
  .footer .footer__focus {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}
